<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.dataObject.mapper.ProductCategoryMapper" >
    <!--type对应实体类-->
    <resultMap id="BaseResultMap" type="com.imooc.dataObject.ProductCategory">
        <id column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <id column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <id column="category_type" property="categoryType" jdbcType="INTEGER"/>
    </resultMap>

    <!--id对应接口 com.imooc.dataObject.mapper.ProductCategoryMapper 中的 selectByCategoryType 方法名-->
    <select id="selectByCategoryType" resultMap="BaseResultMap" parameterMap="java.lang.Integer">
        SELECT CATEGORY_ID, CATEGORY_ID, CATEGORY_ID
        FROM PRODUCT_CATEGORY
        WHERE CATEGORY_TYPE = #{CATEGORY_TYPE, JDBCTYPE=INTEGER}
    </select>

</mapper>